html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
… td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}