.c0{
    background-image: url(images2/bee.png);
}

.c1{
    background-image: url(images2/cloud.png);
}

.c2{
    background-image: url(images2/dog.png);
}

.c3{
    background-image: url(images2/halfmoon.png);
}

.c4{
    background-image: url(images2/leopard.png);
}

.c5{
    background-image: url(images2/moon.png);
}

.c6{
    background-image: url(images2/raindrop.png);
}

.c7{
    background-image: url(images2/snail.png);
}

.c8{
    background-image: url(images2/star.png);
}

.c9{
    background-image: url(images2/sun.png);
}



.closed{
    background-image: url(images/background.png);
}