.c0{
    background-image: url(images3/cherry.png);
}

.c1{
    background-image: url(images3/chilli.png);
}

.c2{
    background-image: url(images3/fire.png);
}

.c3{
    background-image: url(images3/hamburger.png);
}

.c4{
    background-image: url(images3/hotdog.png);
}

.c5{
    background-image: url(images3/ketchup.png);
}

.c6{
    background-image: url(images3/marshmallow.png);
}

.c7{
    background-image: url(images3/pinkmarshmallow.png);
}

.c8{
    background-image: url(images3/sausage.png);
}

.c9{
    background-image: url(images3/tacco.png);
}



.closed{
    background-image: url(images/background.png);
}